body {
    background-color: #ffffff;
    font-family: 'Meiryo', 'Hiragino Sans';
}
h1 {
    border-bottom: 3px solid #bbf1ef;
    box-sizing: border-box;
    padding: 1% 0;
    margin: 3% auto;
    width: 90%;
    text-align: center;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


li.topic{
    text-decoration:underline;
    /*
    background-color: rgb(105, 168, 226);
    color: #ffffff;
    padding: 0 8px;
    display: block;
    width: 35%;
    text-align: center;*/
}

table{
    width: 80%;
    border-collapse:separate;
    border-spacing: 0;
}
  
th{
    /*width: 30%;*/
    border-left:solid 1px #aaaaaa;
    border-top:solid 1px #aaaaaa;
    border-bottom:solid 1px #aaaaaa;
}
th.left1{
    width: 30%;
}
th.center{
    width: 50%;
}
th:last-child{
    /*width: 30%;*/
    border-right:solid 1px #aaaaaa;
}

td.left1{
    width: 30%;
    border-left:solid 1px #aaaaaa;
    border-bottom:solid 1px #aaaaaa;
    text-align: center;
    
}
td.center{
    width: 50%;
    border-left:solid 1px #aaaaaa;
    border-right:solid 1px #aaaaaa;
    border-bottom:solid 1px #aaaaaa;
    text-align: center;
}